[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-auth = "*"
google-auth-oauthlib = "*"
google-api-python-client = "*"
notion = "==0.0.28"
requests = "==2.23.0"
urllib3 = "==1.25.10"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
